@charset "UTF-8";

:root {
    --cor1: #0ABF9E;
    --cor2: #9B00B3;
    --cor3: #078C74;
    --cor4: #47CAB2;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor2);
}

main {
    position: fixed; /* relative */
    width: 100vw;
    height: 100vh;
    
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%; 
    width: 250px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0px 0px 15px #00000066;
    background-color: #ffffff;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    transition: width 0.20s, height 0.20s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    height: 200px;
    background: var(--cor2) url(../imagens/pattern.jpg) no-repeat;
    background-size: cover;
    background-position: right center;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    display: block;
    width: 100%;
    height: 40px;
    background-color: var(--cor2);
    border: 2px solid var(--cor2);
    border-radius: 8px;
    margin: 5px 0px;
}

form > div.campo > label {
    display: none;
}

form > div.campo > span {
    width: 40px;
    color: #ffffff;
    /* background-color: black; */
    font-size: 2em;
    padding: 5px;
}

form > div.campo > input {
    width: calc(100% - 44.4px);
    height: 100%;
    background-color: var(--cor4);
    font-size: 1em;
    padding: 4px;
    border: none;
    border-radius: 8px;
    transform: translateY(-12px);
}

form > div.campo > input:focus-within {
    background-color: #ffffff;
}

form > input[type=submit] {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 40px;
    color: #ffffff;
    background-color: var(--cor1);
    font-size: 1em;
    border: none;
    border-radius: 8px;
}

form > input[type=submit]:hover {
    background-color: var(--cor3);
}

form > a.botao {
    display: block;
    width: 100%;
    height: 40px;
    color: var(--cor3);
    background-color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    padding-top: 7px;
    border: 1px solid var(--cor1);
    border-radius: 8px;
    margin-top: 5px;
}

form > a.botao:hover {
    background-color: var(--cor4);
}

form > a.botao > span {
    font-size: 1em;
}